@import "tailwindcss";







.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  max-width: 1720px;
}

.first {
    background-image: url(/cottages/1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px; 
    
}

.second {
  background-image: url(/cottages/2.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; 
}

.third {
  background-image: url(/cottages/3.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; 
}

@media (max-width: 768px) {
  .first,
  .second,
  .third {
   width: 100% !important;
  }
}

.swiper-pagination-bullet{
  background-color: #ff7200 !important;
  width: 17px !important;
  height: 17px !important;

}

